header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: white;
    /* border-bottom: 3px solid orange; */
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #ffffff;
  
    display: none;
    
}



/* #menu-toggle {
    display: none;
} */

/* .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
} */

/* .menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
} */


#menu-toggle:checked + .menu-icon + .navbar {
    display: flex;
    justify-content: end;
}


.logo-container{
    display: flex;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
   
}

.navbar a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

.btn1{
    width: 160px;
    height: 50px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.logo-text{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}
#menu-toggle {
    display: none;
}

/* Hero part */
#empower{
    color: orange;
}

#toward{
    color: rgb(95, 162, 244);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: white;
}

.hero-text h1{
    font-size: 2.5rem;
    color: black;
}

.hero-text p{
    margin: 1rem 0;
    font-size: 1rem;
    color: gray;
}

.btn2{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 160px;
    height: 50px;
    border-radius: 10px;
}

.hero-image img{
    width: 300px;
}

/* Curriculum part */
.curriculum{
    text-align: center;
    padding: 2rem;
    background: white;
    background-image: url(assets/background.png);
}

.curriculum h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: black;
}

.curriculum-cards{
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.card{
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha) ;
    text-align: center;
    flex: 1;
    max-width: 300px;
  
}

.card img{
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
}

.card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: black;
}

.card p {
    color: #666;
    margin: 1rem 0;
}
.card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.carousel-navigation{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.carousel-btn{
    background:orange;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
}

#card1{
    background-color: rgba(29, 207, 238, 0.999);
    opacity:60%;
}
#card2{
    background-color: rgba(221, 255, 0, 0.97);
    opacity:60%;
}
#r2{
    color: orange;
}

#card3{
    background-color: rgba(245, 15, 230, 0.97);
    opacity:60%;
}
#r3{
    color: purple;
}
/* Stories part */

.stories {
    text-align: center;
    padding: 2rem;
    background: #f9f9f9;
    background: url(assets/background.png);
    
}

.stories h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}


.stories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
}

.story {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.story img {
    width: 100%;
    border-radius: 10px;
}

.story-content {
    margin-top: 1rem;
    text-align: left;
}

.story-content .date {
    font-size: 0.8rem;
    color: #999;
}

.date1{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: aqua;
    color: white;
}

.date2{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(39, 207, 64);
    color: white;
}

.date3{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgba(169, 27, 197, 0.784);
    color: white;
}

.date4{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(39, 207, 64);
    color: white;
}

.date5{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background-color: rgb(39, 207, 64);
    color: white;
}


.story-content h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
}

.btn3 {
    margin-top: 2rem;
    display: inline-block;
    background: black;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    
   
}

.stories-grid {
    grid-template-columns: 600px 250px 250px 250px 250px;
}

/* Footer part */
footer {
    background: #007bff;
    color: white;
    padding: 2rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-logo img {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
}

.footer-logo p {
    max-width: 300px;
    line-height: 1.4;
}

.footer-links ul {
    padding: 0;
    list-style: none;
  
}

.footer-links ul li a {
    color: white;
    display: block;
    margin-bottom: 0.5rem;
    list-style: none;
    text-decoration: none;
}

.footer-social a img {
    width: 30px;
    margin-right: 1rem;
}

#fl{
    display: flex ;
}

#fp1{
    position: absolute;
    margin-left: 1rem;
    margin-top: 3rem;
    
}

@media screen and (max-width:768px) {
    header{
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 3px solid orange;
    }

    .logo-text{
        display: none;
    }

    .navbar{
        display: none;
    }
    .btn1{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
        text-align: center;
    }
    .curriculum-cards{
        flex-direction: column;
        align-items: center;
    }
    .carousel-btn{
        display: none;
    }
    .stories-grid {
        grid-template-columns: repeat(1,240px) 240px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    /* #menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
        justify-content: end;
    } */
    
    #menu-toggle:checked + .menu-icon + .navbar ul {
        display: flex;
        justify-content: center;
    }
    .menu-icon {
        display: block;
        justify-content: end;
        margin-left: 27rem;
        margin-top: 1rem;
        color: #050404;
    }
}

